@mixin setting($bgc1)
    width: 200px
    height: 200px
    margin-bottom: 20px
    background-color: $bgc1

.block1
    position: relative
    @include setting(#dd5555)
    border-radius: 10px
    .circle
        position: absolute
        bottom: 0
        right: 0
        width: 30px
        height: 30px
        border-radius: 50%
        background-color: #fff

.block2
    @include setting(#a2f175)

.block3
    @include setting(#d113e2)

@for $i from 1 through 20
    $size: 10 + $i * 2
    .fz-#{$size}
        font-size: #{$size}px
